name: 'Test Action'

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-job:
    name: Test Job (No GitHub token)
    strategy:
      fail-fast: false
      matrix:
        os: [ 'windows-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install winget
      id: install-winget
      uses: Cyberboss/install-winget@3e0ff258c429c4eb28fb9f3bd3cc327760c7d103

    - name: Check Version
      shell: bash
      run: |
        VERSION="${{ steps.install-winget.outputs.winget-version }}"
        if [ -z "$VERSION" ]; then
          exit 1
        fi
        echo $VERSION

    - name: Install wingetcreate
      run: winget install wingetcreate --disable-interactivity --accept-source-agreements --accept-package-agreements

  test-job-with-token:
    name: Test Job with GitHub Token
    strategy:
      fail-fast: false
      matrix:
        os: [ 'windows-2022', 'windows-latest' ]
        repeat: [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z' ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install winget
      id: install-winget
      uses: Cyberboss/install-winget@3e0ff258c429c4eb28fb9f3bd3cc327760c7d103
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Check Version
      shell: bash
      run: |
        VERSION="${{ steps.install-winget.outputs.winget-version }}"
        if [ -z "$VERSION" ]; then
          exit 1
        fi
        echo $VERSION

    - name: Install wingetcreate
      run: winget install wingetcreate --disable-interactivity --accept-source-agreements
